<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433"
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="beRemote.Services.Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <beRemote.Services.Uploader.Properties.Settings>
            <setting name="ConStrPath" serializeAs="String">
                <value>E:\inetpub\connstr.txt</value>
            </setting>
            <setting name="UplPath" serializeAs="String">
                <value>E:\Uploads</value>
            </setting>
            <setting name="LoggerConfig" serializeAs="String">
                <value>E:\inetpub\logger.ini</value>
            </setting>
        </beRemote.Services.Uploader.Properties.Settings>
    </applicationSettings>
</configuration>
